@charset "utf-8";
ul{
	float: left;
	padding: 0px;
	height: 20px;
}
body{
	margin: 0;
	padding: 0;
	/*height: 100%;*/
/*	background: url('img/bg.png') repeat;*/
}

li {
	float:left;
	list-style-type: none;
    padding: 30px;
	color: white;
	
}
li:hover{
	color: black;
	border-bottom:groove;
	  
}
#line1{
	display: inline;
	height: auto;
	margin: 0;
	float: left;
}
#img{
	float: left;
	margin-right: 60px;
}
#head{
	
	height: 100px;
	background-color:#16a085;
}
#first{
	display: none;
	height:700px;
    background-color: darkgray;
}
#login{
	height: 100%;
	/*background: url('img/bg.png');*/
  /*  background-color:#009999;*/
}
.button{
	background-color:#16a085;
	color: white;
}
#me{
	display: none;
	background-color:#009999;

}
#notes_add{
	float: left;
   /* display: block;*/
	width: 700px;
	margin-left: 50px;
	height: 200px;
    margin-top: 50px;
    display: none;
}
#notes_add .wNotes{
	border-color: #009CDA;
	width: 700px;
	border-radius: 10px;
	
}
#neirong{
	
}
.notes{
		
	float: left;
	margin: 50px 50px  50px 50px;
	height: 110px;
	width: 700px;
	background-color:#33cc99;
	border-radius: 10px;
}
.notes_title{
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	text-align:start;
	font-size: 50px;
}
.notes_content{
	display: inline;
	width: 400px;
	height: 110px;
	float: left;
	margin-top: 10px; 
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.notes_time{
	margin-top: 30px;
	align-content: center;
	float: left;
	font-size: 25px;
}
#edit{
	font-size: 50px;
    margin-left: 50px;
    margin-top: 50px;
	float: left;
	height: 110px;
	width: 700px;
	background-color:#33cc99;
	border-radius: 10px;
}
#write{
	background-color:#47DBA0;
	font-size: 30px;
	float: right;
	padding: 31px;
	border-radius: 0px 10px 10px 0px;
}
#write:hover{
	background-color:#66ff99;
	/*font-size: 30px;
	float: right;
	padding: 31px;
	border-radius: 0px 10px 10px 0px;*/
}

#neirong{
	height: 150px;
	margin-top: 20px;
	resize:none;
}
#send{
	
	margin-right: 0px;
	width: 100px;
	height: 40px;
	border-radius: 10px;
	float: right;
}
